extends layout

block content
	div.container(ng-controller="entrevistas")
		h1 Visualizar Ocorrências
		p Visualizar Ocorrências

		table.table.table-striped.table-bordered.table-condensed
			thead
				tr
					th
					th Lula
					th Aécio
					th Camara
					th Educação
					th Escolaridade
					th Idade
					th Latitude
					th Longitude
					th Prefeito
					th Renda
					th Saúde
					th Segurança
					th Sexo
			tbody
				each entrevista , i in entrevistas
					tr
						td= i + 1
						td= entrevista.lula
						td= entrevista.aecio
						td= entrevista.camara
						td= entrevista.educacao
						td= entrevista.escolaridade
						td= entrevista.idade
						td= entrevista.latitude
						td= entrevista.longitude
						td= entrevista.prefeito
						td= entrevista.renda
						td= entrevista.saude
						td= entrevista.segurança
						td= entrevista.sexo



block footer
	script(src='/javascripts/entrevistas.js')