extends layout

block content
	div.container(ng-controller="train")
		.page-header
			h1 Resultado do treinamento

		.alert.alert-success
			strong Sucesso: O treinamento foi realizado com sucesso.

		p.lead Configuração da Rede Neural
		p Taxa de Aprendizado: #{neural.net.learningRate}
		p Momentum: #{neural.net.momentum}
		p Limiar do erro: #{neural.configuracao.errorThresh}
		p Limite de épocas: #{neural.configuracao.iterations}
		p Erro do treinamento: #{neural.trainingOutput.error}
		p Erros dados desconhecidos: #{neural.unknownDataError}
		p Epocas de treinamento: #{neural.trainingOutput.iterations}
		p Entrada:
			if neural.entrada.educacao
				|  Educação
			if neural.entrada.escolaridade
				|  Escolaridade
			if neural.entrada.idade
				|  Idade
			if neural.entrada.renda
				|  Renda
			if neural.entrada.sexo
				|  Sexo
			if neural.entrada.saude
				|  Saúde
			if neural.entrada.seguranca
				|  Segurança
		p Saída:
			if neural.saida.educacao
				|  Educação
			if neural.saida.escolaridade
				|  Escolaridade
			if neural.saida.idade
				|  Idade
			if neural.saida.renda
				|  Renda
			if neural.saida.sexo
				|  Sexo
			if neural.saida.saude
				|  Saúde
			if neural.saida.seguranca
				|  Segurança

		.control-group
			.controls
				button.btn.btn-primary(type='button', ng-click='voltarConfiguracaoTreinamento()') Treinar Novamente

		p.lead
			| Abaixo esta um gráfico de erros por épocas de treinamento.

		canvas(id="error", width="1170", height="500")

		p.lead
			| Abaixo esta o resultado do treinamento da rede neural. Com ele não é necessários realizar
			| o treinamento novamente.
		div.hero-unit= neural.net.toFunction().toString()

block footer
	script(src='/javascripts/train.js')
	script(src='/javascripts/chart.min.js')
	script.
		var errorChartData = {
			labels : [#{neural.labels}],
			datasets : [
				{
					fillColor : "rgba(192,192,192,0.5)",
					strokeColor : "rgba(192,192,192,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					data : [#{neural.datas}]
				}
			]

		};
		new Chart(document.getElementById("error").getContext("2d")).Line(errorChartData, {pointDot : false, animation : false,scaleOverlay : true});
